.minhalista {
   color: green;
   font-size:30; 
}


.lista {
    background: white; 
    color: green;
    font-size: 30;
}

.imagens {
   text-align: center;
   background: white;

}

.lista2 {
   color: green;
   font-size: 30;
}
   
#imagens { 
    text-align: center;
    border: 5px;
    border-style: solid;
    border-color: green;
    padding: 10px;
    margin-left: 500px;
    margin-right: 500px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
#imagem {
    text-align: center;
    border: 5px;
    border-style: solid;
    border-color: green;
    padding: 10px;
    margin-left: 500px;
    margin-right: 500px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;


