.minhalista {
   color: green;
   font-size:30; 
}


.lista {
    background: white; 
    color: green;
    font-size: 30;
}

.imagens {
   text-align: center;
   background: white;

}

.lista2 {
   color: green;
   font-size: 30;
}
   
#imagens { 
    text-align: center;
    border: 5px;
    border-style: solid;
    border-color: green;
    padding: 10px;
    margin-left: 500px;
    margin-right: 500px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
#imagem {
    text-align: center;
    border: 5px;
    border-style: solid;
    border-color: green;
    padding: 10px;
    margin-left: 500px;
    margin-right: 500px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
.cabecalho {
 border-bottom-style: solid;
 background: greenyellow;
 margin-top: -8px;
 margin-left: -8px;
 margin-right: -8px;
 padding: 1px;
}
 #cabecalho2 {
 color:blue;
 text-align: center;
}
 #menu {
 text-align: center;
 font-size: 30;
}
.rodape {
 border-top-style:solid;
 background: greenyellow;
 margin-bottom: -8px;

